<.container class="max-w-prose">
    <.header>
        <%= @device.name %>
            <:actions>
                <.back navigate={~p"/devices"}>
                    Back
                </.back>
            </:actions>
    </.header>

    <.simple_form for={@form} phx-change="validate" phx-submit="save">
        <.input field={@form[:custom_name]} label="Display name" />

        <:actions>
            <.button>Save</.button>
        </:actions>
    </.simple_form>
</.container>