<.container class="max-w-prose">
    <.header>
        Edit pricing info
        <:actions>
            <.back navigate={~p"/pricing"}>
                Back
            </.back>
        </:actions>
    </.header>

    <.live_component module={PriceForm} changeset={@changeset} price={@price} id="add-price-form"
        phx-target="@myself" />
</.container>